body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: 700;
}

footer {
  margin-top: 50px;
}

.navbar-brand {
  font-size: 1.4rem;
}

.btn-success:hover {
  background-color: #1b5e20 !important;
}
